/* font */
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
}

ul, ol{
    padding: 0;
}

ul li, ol li {
    list-style: none;
}

h5 {
    margin: 0;
    padding: 0;
}

a{
    display: block;
    width: 100%;
    height: 100%;
}

a, button, a:hover {
    text-decoration: none;
    cursor: pointer;
}

#wrapper {
    font-family: 'SpoqaHanSansNeo-Regular', serif;
    /*min-width: 637px;*/
    width: 100%;
    height: 500%;
    margin: 0 auto;
}

nav, .realFooter {
    max-width: 1225px;
    padding: 0 25px;
    margin: 0 auto;
}

section{
    margin: 0 auto;
}

header {
    width: 100%;
    /*border: 1px solid blueviolet;*/
    position: relative;
    margin: 0 auto;
    height: 137px;
}

.headerTop {
    height: 81px;
    line-height: 81px;
    display: flex;
    justify-content: space-between;
}

.headerTop a {
    color: #797979;
    font-size: 15px;
    font-weight: normal;
}

.headerTop .loginBtn{
    font-size: 14px;
    color: #666666;
}

/* common style */
.pointer {
    cursor: pointer;
}

.font13 {
    font-size: 13px;
}

.font15 {
    font-size: 15px;
}

.c-littleBlue{
    background: #f2f6fa;
}

.gg-text-blue{
    color: #2e81f8;
    font-weight: bold;
    font-size: 16px;
}

.img-h24 {
    height: 24px;
    float: left;
}

.c-grey{
    color: #575b63;
}

/*--------------nav-------------*/
#logo, .logo {
    float: left;
    width: 280px;
    height: 22px;
    background: url("../img/img-header-logo.png") no-repeat center/contain;
    z-index: 3;
}

.logo{
    width: 180px;
}

.headerBot {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /*padding: 0 0 29px;*/
    align-items: flex-start;
}

.headerBot ul {
    width: 30%;
    margin-left: -135px;
}

/*main nav*/
#main-menu {
    height: 137px;
}

nav {
    /*position: relative;*/
    font-weight: bolder;
    width: 100%;
    z-index: 4;
}

nav a {
    color: black;
}

nav ul {
    display: flex;
    justify-content: space-around;
    /*width: 40%;*/
    float: left;
    font-size: 1.2em;
}

/*nav 우측 버튼*/
.navR {
    height: 20px;
    float: left;
    display: flex;
    gap: 24px;
}

.btn-search, .btn-menu, .btn-close {
    width: 20px;
    height: 20px;
    background: url("../img/icon-common.png") no-repeat;
    background-size: 120px 20px;
    border-style: none;
    cursor: pointer;
    padding: 0;
    opacity: 1;
}

.btn-search {
    background-position: -40px 0;
}

.btn-menu {
    background-position: -20px 0;
}

.btn-close {
    background-position: -60px 0;
}

.navR .btn-close {
    display: none;
}

/*nav-menu*/
.nav-menu ul {
    padding: 8px;
    position: relative;
    display: block;
    width: 184px;
    height: 183px;
    float: left;
    top: 40px;
}

.nav-menu, .nav-search {
    border: 1px solid #AFAFAF;
    position: relative;
    width: 100%;
    height: 284px;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 3;
    /*top: 137px;*/
    /*margin-left: -25px;*/
}

.nav-menu .menu-top {
    font-size: 19px;
    margin: 0 0 30px 0;
}

/*밑선*/
.menu-top::after {
    content: "";
    position: relative;
    left: 0;
    bottom: -10px;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: black;
}

.nav-menu ul li {
    font-size: 13px;
    clear: both;
    width: 100%;
    height: 25px;
}

/*main nav hover시*/
.main a:hover, .headerTop span:hover, .nav-menu li a:hover {
    color: #2e81f8;
}

.main li {
    position: relative;
}

.main li a {
    width: 100%;
    height: 100%;
    text-align: center;
}

.headerBot .main li:hover a::after {
    content: "";
    display: block;
    position: absolute;
    width: 96%;
    left: 0;
    right: 0;
    bottom: -8px;
    height: 0;
    border: 1px solid #2e81f8;
    transition: width 0.5s;
}

.main li:hover a::after {
    /*width: 100%;*/
    background-color: #2e81f8;
}

/*nav의 menu 클릭 시 그림자 효과*/
.shadowWrap {
    content: "";
    background-color: #797979;
    opacity: 0.6;
    position: absolute;
    width: 100vw;
    height: 141vh;
    z-index: 3;
    top: 137px;
    left: 0;
    scrollbar-width: none;
}

/*mobile nav*/
.mobileNav{
    position: absolute;
    width: 300px;
    height: 100vh;
    background: white;
    top: 0;
    right: 0;
    display: none;
}

.mobileNav>div, .mobileNavList, .mobileNavList>div{
    width: 100%;
    /*height: 100%;*/
}

.mobileNav .mobileNavList{
    margin-top: 50px;
}

.mobileNavList ul{
    flex-direction: column;
    width: 100%;
}

.mobileNavList ul:nth-of-type(1){
    margin-top: 50px;
}

.mobileNavList ul li{
    /*border: 1px solid aqua;*/
    width: 100%;
    height: 100%;
    padding: 10px;
}

.mobileNav .menu-top{
    display: block;
    float: left;
}

.mobileNavList ul li a{
    color: #686868;
    margin-left: 15px;
    font-size: 15px;
}

.mobileNavList .menu-top::after {
    bottom: -5px;
    left: 0;
}

.mobileNavList .arrow-down{
    margin-top: -25px;
    margin-right: 25px;
}


/*토글 버튼 (숨기기)*/
.mobileNavList ul li, .mobileNavList .menu-top::after{
    /*display: none;*/
}

/*icon*/
.hamburger{
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
}



/************/
/*search tab*/
.nav-search {
    flex-direction: column;
    height: 390px;
    font-weight: bolder;
}

.nav-search .btn-search {
    position: absolute;
    top: 66px;
    left: 50%;
    margin-left: 270px;
}

.btn-close {
    z-index: 999;
    opacity: 1;
}

.nav-search h3 {
    font-size: 16px;
}

.nav-search span {
    display: block;
    font-size: 14px;
    color: #686868;
    font-weight: normal;
}

input[type=search] {
    position: absolute;
    left: 50%;
    margin-left: -320px;
    top: 45px;
    border-radius: 13px;
    width: 640px;
    height: 67px;
    padding: 0 25px;
    border: 2px solid black;
    font-size: 15.8px;
    font-family: 'SpoqaHanSansNeo-Regular', serif;
}

input[type=search]::placeholder {
    font-weight: bolder;
    color: #DCDCDC;
}

/*search hover&active*/
input[type=search]:hover, input[type=search] .active {
    border: 2px solid #2e81f8;
}

/*search X button hide*/
/* IE의 경우 */
input::-ms-clear,
input:hover::-ms-clear,
input::-ms-reveal,
input:hover::-ms-reveal {
    display: none;
}

/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration,
input:hover::-webkit-search-decoration,
input:hover::-webkit-search-cancel-button,
input:hover::-webkit-search-results-button,
input:hover::-webkit-search-results-decoration {
    display: none;
}

.tab-search {
    left: 50%;
    width: 70%;
    top: 130px;
    margin-left: -320px;
    position: absolute;
}

.tab-search h3 {
    padding: 20px 0;
}

/*keyword*/
.keyword {
    margin-top: 20px;
}

.keyword button {
    font-size: 13px;
    font-weight: bold;
    background-color: #f4F6FB;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 2px;
}

.keyword button:hover, .keyword button:active {
    background-color: #2090FF;
    color: white;
}


/*-------------------------------------*/
/*               footer                */

footer {
    font-size: 14px;
    padding: 0;
    width: 100%;
    /*height: 371px;*/
    font-family: 'SpoqaHanSansNeo-Regular', serif;
    background-color: #F9FAFC;
    position: relative;
}

footer .tel li {
    float: left;
    /*display: block;*/
    /*width: 100%;*/
    margin-right: 26px;
    line-height: 33px;
}

footer .tel li span {
    color: #2090FF;
}

.realFooter {
    padding: 0 25px;
    width: 100%;
    position: relative;
}

.realFooter ul {
    margin: 0;
    padding: 0;
}

/*footer TOP*/
.realFooter .footerTop {
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E2E5EB;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.realFooter .footerTop .tel ul {
    width: 100%;
}

.realFooter .footerTop .tel ul li {
    float: left;
}

.realFooter .footerTop .tel ul li span {
    display: block;
    color: #0080FF;
}

.sns li a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}

.sns li {
    background: url("../img/icon-sns.png");
    width: 24px;
    height: 24px;
    background-size: 125px 24px;
    float: left;
    margin: 3px;
}

.sns li:nth-of-type(2) {
    background-position: -24px;
}

.sns li:nth-of-type(3) {
    background-position: -48px;
}

.sns li:nth-of-type(4) {
    background-position: -73px;
}

.sns li:nth-of-type(5) {
    background-position: -97px;
}

.snsInMobile {
    display: none;
}

.footerBot {
    padding-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footerBoot ul {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.footerBoot ul li {
    margin: 0;
    width: 100%;
    height: 100%;
}

.footerBot strong {
    font-weight: bold;
}

.footerBot ul li{
    padding: 0 30px 10px 0;
    display: block;
    float: left;
}

.footerBot ul li::after {
    content: "";
    width: 1px;
    height: 13px;
    margin: 4px 0 0 15px;
    position: absolute;
    background-color: #E2E5EB;
}

.footerBot ul li:nth-of-type(3)::after, .footerBot ul li:nth-of-type(6)::after {
    width: 0;
    height: 0;
}


/* award */
.award ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 52px 0;
}

.award ul li {
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.award ul li text {
    height: 50%;
}

.award img {
    width: 60px;
    height: 60px;
    float: left;
}

.award ul li span {
    padding-left: 10px;
    text-align: left;
    color: #666666;
    flex-wrap: nowrap;
    display: flex;
    line-height: 25px;
}

.award ul li:last-child span {
    line-height: 60px;
}

.footerLogo {
    width: 97px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 215px;
    margin-right: 25px;
}

.footerLogo img {
    width: 100%;
    height: 100%;
}

.familysite {
    position: absolute;
    top: 100px;
    right: 25px;
}

.familysite button, .familysite button:hover {
    text-align: left;
    width: 208px;
    height: 52px;
    font-weight: bold;
    font-size: 14px;
    color: black;
    background: white;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
}

button.btn.dropdown-toggle{
    padding-left: 20px;
}

.dropdown-menu {
    width: 100%;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #0080FF;
    border-radius: 12px;
    transform: translateY(-150px);
}

.dropdown-menu a {
    color: black;
}

.dropup .dropdown-toggle::after, .arrow-down {
    content: " ";
    width: 20px;
    height: 20px;
    background: url("../img/icon-common.png") no-repeat;
    background-size: 120px 20px;
    border: none;
    position: absolute;
    right: 10px;
    transform: rotate(90deg);
}

.withNeedINmobileBtn .arrow-down {
    top: 28px;
}

.arrow-active {
    transform: rotate(270deg);
}

.withNeedINmobile .withNeedINmobileBtn strong::after {
    right: 30px;
}

.withNeedINmobile {
    display: none;
    width: 100%;
    height: 239px;
}

.withNeedINmobileList {
    width: 100%;
    height: 165px;
    position: relative;
    border-bottom: 1px solid #E2E5EB;
}

.withNeedINmobile ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.withNeedINmobile ul li {
    padding: 0px;
    color: #666666;
}

.withNeedINmobile ul li:last-child {
    padding: 3px;
}

.withNeedINmobile ul li:nth-of-type(4), .withNeedINmobile ul li:nth-of-type(6) {
    clear: both;
}

/* upBtn */
#upBtn{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 2px 8px 0 rgba( 100, 100, 100, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
}
#upBtn .upImg{
    width: 20px;
    height: 20px;
    background: url("../img/icon-common.png") no-repeat;
    background-size: 120px 20px;
    transform: translate(16px,14px) rotate(-90deg);
}

/*withNeed*/
.withNeed, .withNeedINmobile {
    width: 100%;
    height: 100%;
    position: relative;
}

.withNeed ul, .withNeedINmobile ul {
    height: 100%;
}

.withNeed ul li{
    color: #666666;
    position: relative;
    float: left;
    padding-top: 30px;
}

.withNeed ul li span, .withNeedINmobile ul li span {
    color: black;
    padding: 0 20px 0 12px;
}


.withNeed ul li:nth-of-type(8) {
    padding-right: 20px;
    clear: both;
}

/***********************************************************/
/*login modal*/
.loginModal{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4444;
    padding-top: 200px;
    font-size: 14px;
    
    /*blur 효과*/
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
}

.loginBox {
    width: 450px;
    padding: 50px;
    margin: 0 auto;
    /*border: 1px solid #dcdcdc;*/
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    /*blur 효과*/
    /*background: white;*/
    /*box-shadow: 0 4px 12px rgb(0 0 0 / 20%);*/
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

.loginBox .loginHeader{
    width: 100%;
    margin-top: -10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*login form*/
.loginBox form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.loginBox input {
    top: 45px;
    border-radius: 10px;
    width: 350px;
    height: 53px;
    padding: 0 25px;
    border: 1px solid #dcdcdc;
    font-family: 'SpoqaHanSansNeo-Regular', serif;
    font-weight: normal;
}

.loginBox input::placeholder {
    color: #dcdcdc;
}

.loginBox input[type=button] {
    background: #2090FF;
    border: none;
    color: white;
}

.loginBox input:hover, .loginBox input:active {
    border: 1px solid #2090FF;
}

.idBtn{
    position: absolute;
    margin-top: -38px;
    right: 50%;
    margin-right: -120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #888888;
}

.loginBox input[type=checkbox] {
    display: none;
}

.loginBox input[type=checkbox] + label {
    cursor: pointer;
    width: 23px;
    height: 23px;
    background: url(../img/bg_form_blue_small.png) no-repeat -50px 0;
    vertical-align: middle;
}
.loginBox input[type=checkbox]:checked + label {
    background: url(../img/bg_form_blue_small.png) no-repeat;
}

label span{
    display: block;
    width: 60px;
    text-align: right;
    letter-spacing: -1px;
    font-size: 16px;
}

.loginBox form>div:last-child{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*****************************************************************/
/*                          미디어 쿼리                            */
/*****************************************************************/
/*1) window tab size : 1274 | <wrapper white section 80% under>*/
@media screen and (max-width: 1274px) {
    footer {
        height: 462px;
    }

    .award {
        margin-top: 30px;
    }
    .shadowWrap {
        height: 145vh;
    }
}

@media screen and (max-width: 1024px) {
    .withNeed ul li:nth-of-type(6), .withNeed ul li:last-child {
        clear: both;
        padding-top: 10px;
    }

    .withNeed ul li:nth-of-type(7) {
        padding-top: 10px;
    }
}

/*2) mobile 환경 | 디바이스 장치가 최소 767px일 때*/
@media screen and (max-width: 767px) {
    header {
        height: 50px;
    }

    nav:not(.mobileNav), div.shadowWrap{
        display: none;
    }

    /*mobile nav*/
    .mobileNav {
        display: unset;
    }


    .hamburger{
        display: unset;
    }

    footer{
        padding: 43px 21px 20px;
        height: unset;
    }

    /*realfooter-mobile*/
    .realFooter{
        padding: 0;
    }
    .realFooter .tel li {
        display: none;
    }

    .realFooter .tel li:first-child {
        display: block;
    }

    /*footerTop-mobile*/
    .realFooter .footerTop{
        padding-top: 0;
    }

    /*withNeed-mobile*/
    .withNeed, .footerTop .sns {
        display: none;
    }

    .snsInMobile, .withNeedINmobile {
        display: unset;
    }

    .withNeedINmobileBtn {
        line-height: 74px;
        height: 74px;
        border-top: 1px solid #E2E5EB;
        border-bottom: 1px solid #E2E5EB;
    }

    .withNeedINmobile hr.c-g {
        margin: 15px 0;
    }

    .snsInMobile {
        width: 100%;
        display: flex;
        margin-top: 16px;
    }

    /*familysite mobile*/
    .familysite {
        position: static;
        top: 0;
        right: 0;
        margin-top: 24px;
    }

    /*footerLogo-mobile*/
    .footerLogo{
        position: static;
        margin-top: 24px;
        margin-bottom: 0px;
        margin-right: 0px;
    }

    .footerLogo img{
        width: 80px;
        height: 27px;
    }

    /*award-mobile*/
    .award{
        padding-top: 0;
        margin-top: 0;
        font-size: 13px;
    }

    .award ul{
        padding-top: 66px;
    }

    .award img{
        width: 36px;
        height: 36px;
    }

    .award ul li span {
        line-height: 25px;
    }

    /*footerBot-mobile*/
    .footerBot{
        padding-bottom: 16px;
    }
    .footerBot ul:last-child li:first-child{
        padding-bottom: 10px;
    }

}
